#introBg {
  background-image: url('https://placekitten.com/g/900/700');
  background-position: center center;
  position: fixed;
  width: 100%;
  z-index: -1;
  opacity: .4;
}

#headShot {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.4), 
    rgba(0, 0, 0, 0.4)
  ), url('../images/headshot.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* background: linear-gradient(
    rgba(0, 0, 0, 0.7), 
    rgba(0, 0, 0, 0.7)
  ); */
  height: 75vh;
  /* filter: grayscale(100%); */
}